<%= render 'comments/comment_count', photo: @photo %>
<% photo.comments.each do |comment| %>
  <% if comment.user == current_user %>
    <li class="current_user_comment-wrapper">
      <div class="comment-avatar">
        <div class="round-circle">
          <% if comment.user.profile_image.blank? %>
            <%= image_tag('no_profile_image.jpg') %>
          <% else %>
            <%= image_tag(comment.user.profile_image.url) %>
          <% end %>
        </div>
      </div>
      <div class="comment-content">
        <h6><%= "@ #{comment.user.name}" %></h6>
        <p><%= comment.comment %></p>
        <span class="comment-date-time"><%= comment.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></span>
        <%= link_to photo_comment_path(comment.photo.id, comment.id), method: :DELETE, id: 'delete_comment',  data: {confirm: 'コメントを削除しますか' }, remote: true do %>
          <%= image_tag 'comment_destroy.png', alt: 'deleteComment' %>
        <% end %>
      </div>
    </li>
  <% else %>
    <li class="comment-wrapper">
      <div class="comment-avatar">
        <div class="round-circle">
          <% if comment.user.profile_image.blank? %>
            <%= image_tag('no_profile_image.jpg') %>
          <% else %>
            <%= image_tag(comment.user.profile_image.url) %>
          <% end %>
        </div>
      </div>
      <div class="comment-content">
        <h6><%= "@ #{comment.user.name}" %></h6>
        <p><%= comment.comment %></p>
        <span class="comment-date-time"><%= comment.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %>
      </div>
    </li>
  <% end %>
<% end %>