<div class="all">
  <div class="cover-image">
    <% if @user.cover_image.blank? %>
      <%= image_tag('no_cover_image.jpg') %>
    <% else %>
      <%= image_tag @user.cover_image.url %>
    <% end %>
  </div>
  <div class="profile-wrapper">
    <div class="profile-image">
      <% if @user.profile_image.blank? %>
        <%= image_tag('no_profile_image.jpeg') %>
      <% else %>
        <%= image_tag @user.profile_image.url %>
      <% end %>
    </div>
    <div class="profile-detail">
      <div class="profile-contents">
        <h1><%= @user.name %></h1>
        <div class="follower">
          <p>フォロワー</p>
          <p>フォロー中</p>
        </div>
        <%= link_to '登録情報を編集する', edit_user_path(@user), class:'btn btn-dark' %>
      </div>
    </div>
  </div>
</div>



