<div class="show-follow-container">
  <h2 class="menu-title"><%= @title %>(<%= @users.count %>)</h2>
  <h4 class="show-follow-user-name"><%= @user.photographer.name %></h4>
  <div class="follow-wrapper">
    <% @users.each do |user| %>
      <div class="follow-user">
        <% if user.user_status == 'フォトグラファー' %>
          <%= link_to photographer_path(user.photographer) do %>
            <div class="square">
              <%= image_tag user.profile_image.url %>
            </div>
            <div class="follow-photographer-name">
              <%= user.photographer.name %>
            </div>
          <% end %>
        <% else %>
          <div class="square">
            <% if user.profile_image.blank? %>
              <%= image_tag('no_profile_image.jpeg') %>
            <% else %>
              <%= image_tag user.profile_image.url %>
            <% end %>
          </div>
          <div class="follow-photographer-name">
            <%= user.name %>
          </div>
        <% end %>
        <label class="follow-user-status">
          <p><%= user.user_status %></p>
        </label>
      </div>
    <% end %>
  </div>
</div>
