<div class="main-wrapper">
  <div id='mainvisual'></div>
  <div class="concept">
    <h1 class="title">CONCEPT</h1>
    <h2 class="caption">カメラが好きな人とつながる</h2>
    <h2 class="caption">写真が欲しい人とつながる</h2>
    <h2 class="caption">共有・依頼をもっと手軽に</h2>
    <h2 class="caption">カメラマンプロフィールサイト</h2>
    <div class="concept-border"></div>
    <div class="d-grid gap-2">
    <%= link_to '写真ギャラリーを見る', '#', class:'btn btn-outline-light btn-lg btn-block' %><br>
    <%= link_to 'フォトギャラリーを見る', '#', class:'btn btn-outline-light btn-lg btn-block' %>
    </div>
  </div>
</div>

<div class="about-container">
  <div class="about-contents">
    <img src="/assets/about_image.png">
  </div>
  <div class="about-contents">
    <h2 class="menu-title">ABOUT</h2>
    <h2 class="subtitle">Photographers Profile</h2>
    <p class="discription">当サイトは、フォトグラファーのプロフィールサイトです。<br>写真ギャラリーの閲覧やフォトグラファーの検索は誰でも無料で、余計な館員登録なしで行えます。<br>「あなたの近くであなたのお気に入りのフォトグラファーが見つかるかも」</p>
    <p>※写真へのコメントや評価、フォトグラファーへのContactは会員登録が必要です。</p>
    <div class="about-btn">
      <%= link_to '写真ギャラリーを見る', '#', class:'btn btn-outline-dark btn-block' %>
      <%= link_to 'フォトギャラリーを見る', '#', class:'btn btn-outline-dark btn-block' %>
    </div>
  </div>
</div>

<div class="photographer-container">
  <h2 class="menu-title">PHOTOGRAPHER'S</h2>
  <h2 class="subtitle">Leading Photogprapher</h2>
  <ul class="photographer">
    <li>
      <img src="/assets/photographer1.jpg">
      <h4>Test Photographer1</h4>
      <p>ここにジャンル</p>
    </li>
  </ul>
  <div class="btn-wrapper">
    <%= link_to '写真ギャラリーを見る', '#', class:'btn btn-outline-dark btn-block mr-2' %>
    <%= link_to 'フォトギャラリーを見る', '#', class:'btn btn-outline-dark btn-block mt-0 ml-2' %>
  </div>
</div>

<div class="gallery-container">
  <h2 class="menu-title">GALLERY</h2>
  <h2 class="subtitle">Photo Gallery</h2>
  <div class="photos-wrapper">
    <img src="assets/gallery1.jpg">
  </div>
   <div class="btn-wrapper">
      <%= link_to '写真ギャラリーを見る', '#', class:'btn btn-outline-dark btn-block mr-2' %>
      <%= link_to 'フォトギャラリーを見る', '#', class:'btn btn-outline-dark btn-block mt-0 ml-2' %>
    </div>
</div>

<div class="about-container">
  <div class="about-contents">
    <img src="/assets/mypage_image.png">
  </div>
  <div class="about-contents">
    <h2 class="menu-title">for PHOTOGRAPHER'S</h2>
    <h2 class="subtitle">Photographers Profile</h2>
    <p class="discription">フォトグラファーズプロファイルでは、カメラマンを募集しています。<br>カメラマン登録は無料で行え、登録すると自身の写真のアピールだけではなく、自分専用のプロフィールページを作成する事ができます。<br>登録は簡単です。下記より新規登録を行ってください。</p>
    <p>※登録後、フォトグラファーを登録をしなければプロフィールが公開されることはありません。</p>
    <div class="about-btn">
      <%= link_to '新規登録に進む', '#', class:'btn btn-outline-dark btn-lg btn-block' %>
    </div>
  </div>
</div>

