<div class="background">
  <div id='mainvisual'></div>
  <div class="top-container">
    <ul class="top-list">
      <li class="top-list-item">
        <%= link_to photos_path do %>
          <div class="square">
            <%= image_tag('top_list_gallery') %>
          </div>
        <% end %>
      </li>
      <li class="top-list-item">
        <%= link_to photographers_path do %>
          <div class="square">
            <%= image_tag('top_list_photographers') %>
          </div>
        <% end %>
      </li>
      <li class="top-list-item">
        <%= link_to search_path do %>
          <div class="square">
            <%= image_tag('top_list_search') %>
          </div>
        <% end %>
      </li>
    </ul>
    <div class="top-gallery">
      <h2 class="top-gallery-title">PHOTO GALLERY</h2>
      <div class="top-gallery-slid">
        <% @photos.first(8).each do |photo| %>
          <div class="slid-item"><%= image_tag(photo.photo_image.url) %></div>
        <% end %>
      </div>
      <ul class="top-gallery-list">
        <% @photos.first(4).each do |photo| %>
          <li class="top-gallery-list-item">
            <%= link_to photo_path(photo) do %>
              <div class="square"><%= image_tag(photo.photo_image.url) %></div>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= link_to 'View more...', photos_path, class: "view-more" %>
    </div>
    <div class="top-photographers">
      <h2 class="top-gallery-title">POHTOGRAPHER'S</h2>
      <div class="top-photographers-slid">
        <% @photographers.first(8).each do |photographer| %>
          <% if photographer.photographer_profile_image.blank? %>
            <div class="top-photographers-slid-item">
              <div class="round-circle">
                <%= image_tag('no_profile_image.jpg') %>
              </div>
            </div>
          <% else %>
            <div class="top-photographers-slid-item">
              <%= link_to photographer_path(photographer) do %>
                <div class="round-circle">
                  <%= image_tag(photographer.photographer_profile_image.url) %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <%= link_to 'View more...', photographers_path, class: "view-more" %>
    </div>
  </div>
</div>

