<div class="users-container">
  <div class="users-wrapper">
    <h2 class="menu-title">POST EDIT</h2>
    <%= form_with model: @photo, local: true do |f| %>

      <div class="field">
        <%= f.label :genre, '撮影ジャンル' %>
        <%= f.text_field :genre, value: @genre_names, placeholder: '人物 風景 料理', class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :story, 'フォトストーリー' %>
        <textarea class="form-control" rows="5" name="photo[story]" id="photo_story"><%= @photo.story %></textarea>
      </div>

      <div class="field">
        <%= f.label :detail, '撮影詳細' %>
        <textarea class="form-control" rows="5" name="photo[detail]" id="photo_detail"><%= @photo.detail %></textarea>
      </div>

      <div class="action field">
        <%= f.submit '編集を完了', class:'form-control btn btn-dark',data: { disable_with: '保存中...' } %>
      </div>
    <% end %>
  </div>
</div>
