<div class="users-container">
  <div class="users-wrapper">
    <h2 class="menu-title">写真情報編集</h2>
    <%= form_with model: @photo, local: true do |f| %>

      <div class="field">
        <%= f.label :genre, '撮影ジャンル' %>
        <%= f.text_field :genre, value: @genre_names, placeholder: '人物 風景 料理', class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :caption, '写真の説明' %>
        <textarea class="form-control" rows="5" name="photo[caption]" id="photo_caption"><%= @photo.caption %></textarea>
      </div>

      <div class="action field">
        <%= f.submit '編集を完了', class:'form-control btn btn-dark',data: { disable_with: '保存中...' } %>
      </div>
    <% end %>
  </div>
</div>
