<div class="photos-container">
  <div class="photographer-wrapper">


  </div>
  <div class="photo-contents">
    <div class="photographer-wrapper">
      <div class="photographer-icon">
        <%= link_to photographer_path(@user.photographer) do %>
          <div class="round-circle"><%= image_tag(@user.profile_image.url) %></div>
        <% end %>
      </div>
      <div class="photographer-information">
        <h4><%= @user.photographer.name %></h4>
        <%= render 'relationships/follow-contents', user: @user %>
      </div>
    </div>
    <div class="photo-flame">
      <div class="square"><%= image_tag @photo.photo_image.url %></div>
      <div class="photo-edit-menu">
        <%= render 'photos/photo_edit_menu' %>
      </div>
    </div>
    <%= render 'genres/tags', genres: @photo.genres %>
    <div class="photo-story">
      <h2 class="menu-title">PHOTO STORY</h2>
      <p><%= @photo.story %></p>
    </div>
    <div class="photo-detail">
      <h2 class="menu-title">PHOTO DETAIL</h2>
      <p><%= @photo.detail %></p>
    </div>
    <div class="photo-social">

      <!---------- ここからFavoriteの記述部分 ------------->
      <div class="social-icon">
        <li id="favorites_btn_<%= @photo.id %>">
          <%= render 'favorites/favorite', photo: @photo %>
        </li>
      </div>
      <!--------- ここからCommentの記述部分 ------------>
      <div id="photo-comments">
        <%= render 'comments/index', photo: @photo %>
      </div>
      <!------------- Comment入力フォーム -------------->
      <%= render 'comments/form', photo: @photo, comment: @comment %>
      <!---------------ここからRateの記述--------------->
      <div id="photo-rates">
        <%= render 'rates/index', photo: @photo %>
      </div>
      <!--------------- Rate入力フォーム --------------->
      <div id="rate-form">
        <%= render 'rates/form', photo: @photo, rate: @rate %>
      </div>

    </div>
  </div>
</div>

