<div class="photos-show-container">
  <div class="photos-show-flex">
    <div class="photo-contents">
      <%= render 'photographers/top_profile', user: @user %>
      <div class="photo-flame">
        <div class="square">
          <%= image_tag @photo.photo_image.url %>
        </div>
        <div class="photo-edit-menu">
          <%= render 'photos/photo_edit_menu', photo: @photo %>
        </div>
      </div>
      <div id='social-menu'>
        <%= render 'photos/social_menu', photo: @photo %>
      </div>
      <div class="mb-5">
        <%= render 'genres/tags', genres: @photo.genres %>
      </div>
      <% if @photo.story.present? %>
        <div class="photo-story">
          <h2 class="menu-title">PHOTO STORY</h2>
          <p><%= @photo.story %></p>
        </div>
      <% end %>
      <% if @photo.detail.present? %>
        <div class="photo-detail">
          <h2 class="menu-title">PHOTO DETAIL</h2>
          <p><%= @photo.detail %></p>
        </div>
      <% end %>
      <div class="photo-social">
        <!--------- ここからCommentの記述部分 ------------>
        <div id="photo-comments">
          <%= render 'comments/index', photo: @photo %>
        </div>
        <!------------- Comment入力フォーム -------------->
        <%= render 'comments/form', photo: @photo, comment: @comment %>
        <!---------------ここからRateの記述--------------->
        <div id="photo-rates">
          <%= render 'rates/index', photo: @photo %>
        </div>
        <!--------------- Rate入力フォーム --------------->
        <div id="rate-form">
          <%= render 'rates/form', photo: @photo, rate: @rate %>
        </div>

      </div>
    </div>

    <!--------------ここからrecomend---------------->
    <div class="recomend-wrapper">
      <h2 class="menu-title">RECOMENDS</h2>
      <div class="recomend-image-wrapper">
        <% @photos.first(16).each do |photo| %>
          <%= link_to photo_path(photo), class: 'recomend-image-flame' do %>
            <div class="square">
              <%= image_tag photo.photo_image.url %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

