<div class="photos-container">
  <div class="contents-wrapper">
    <div class="photographer-wrapper">
      <div class="user-image ">
        <%= link_to photographer_path(@user.photographer) do %>
          <div class="round-circle"><%= image_tag(@user.profile_image.url) %></div>
        <% end %>
      </div>
      <h3><%= @user.photographer.name %></h3>
      <%= render 'relationships/follow-contents', user: @user %>
    </div>
    <div class="photo-contents">
      <div class="photo-flame">
        <div class="square"><%= image_tag @photo.photo_image.url %></div>
      </div>
      <% if @photo.user == current_user %>
        <%= link_to '投稿情報を編集する', edit_photo_path(@photo), class: "btn btn-dark mb-5 " %>
        <%= link_to '投稿を削除する', photo_path(@photo),method: :DELETE,  class: "btn btn-dark mb-5" %>
      <% end %>
      <%= render 'genres/tags', genres: @photo.genres %>
      <div class="photo-story">
        <h2 class="menu-title">PHOTO STORY</h2>
        <p><%= @photo.story %></p>
      </div>
      <div class="photo-detail">
        <h2 class="menu-title">PHOTO DETAIL</h2>
        <p><%= @photo.detail %></p>
      </div>
      <div class="photo-social">

        <!---------- ここからFavoriteの記述部分 ------------->

        <div class="social-icon">
          <li id="favorites_btn_<%= @photo.id %>">
            <%= render 'favorites/favorite', photo: @photo %>
          </li>
          <li></li>
          <li></li>
        </div>

        <!--------- ここからCommentの記述部分 ------------>
        <div id="photo-comments">
          <%= render 'comments/index', photo: @photo %>
        </div>

        <!------------- Comment入力フォーム -------------->

        <%= form_with(model: [@photo, @comment], url: photo_comments_path(@photo), method: :POST, remote: true) do |f| %>
          <%= f.text_area :comment, class: 'form_control' %>
          <%= f.submit '送信', class:'btn btn-outline-dark', data: { disable_with: '投稿中...' } %>
        <% end %>

        <!---------------ここからRateの記述--------------->
        <div id="photo-rates">
          <%= render 'rates/index', photo: @photo %>
        </div>

        <!--------------- Rate入力フォーム --------------->
        <div id="rate-form">
          <%= render 'rates/form', photo: @photo, rate: @rate %>
        </div>

      </div>
    </div>
  </div>
</div>

