<div class="users-container">
  <h2 class="menu-title mb-4">パスワードを忘れました？</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, 'メールアドレスを入力してください' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="actions field">
      <%= f.submit "パスワードを再設定する", class: 'btn btn-info form-control', data: { disable_with: '保存中...' } %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
