<% if current_user.not_rated?(photo) %>
  <%= form_with(model: [photo, rate], url: photo_rates_path(photo), method: :POST, remote: true) do |f| %>

    <div class="form-group" id="star">
      <%= f.label :rate, '評価を投稿する' %><br>
      <%= f.hidden_field :rate, id: :review_star, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_area :comment, placeholder: '評価コメントを入力してください ※任意', class: 'form-control' %>
    </div>

    <div class="form-group">
     <%= f.submit '評価する', class: 'form-control btn btn-outline-dark', data: { disable_with: '送信中...' } %>
    </div>
  <% end %>

  <script>
    $('#star').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn:   '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'rate[rate]',
      half: true,
    });
  </script>
<% end %>