<%= photo.rates.count %>件の評価
<% photo.rates.each do |rate| %>
  <div class="rates-wrapper">
    <div class="rate-value">
      <div class="rate-user-avatar">
        <div class="round-circle">
          <% if rate.user.profile_image.blank? %>
            <%= image_tag('no_profile_image.jpg') %>
          <% else %>
            <%= image_tag(rate.user.profile_image.url) %>
          <% end %>
        </div>
      </div>
      <div class="rate-box">
        <div id="rate_<%= rate.id %>"></div>
        <p><%= rate.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %></p>
      </div>
    </div>
    <% if rate.comment.present? %>
      <hr class="rate-border">
      <%= rate.comment %>
    <% end %>
    <% if rate.user == current_user %>
      <%= link_to photo_rate_path(photo, rate), method: :DELETE, remote: true, data: {confirm: "評価を削除しますか？"} do %>
      <%= image_tag 'comment_destroy.png', class: 'rate-destroy-icon' %>
    <% end %>
  <% end %>

    <script>
      $('#rate_<%= rate.id %>').empty();
        $('#rate_<%= rate.id %>').raty({
          size: 20,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn:   '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          readOnly: true,
          score: <%= rate.rate %>
        });
    </script>
</div>
<% end %>



