<!DOCTYPE html>
<html>
  <head>
    <title>Photogenic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/d64cb48cf6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <div class="header-contents">
          <div  class="header-logo">
            <%= link_to "Photographer's Profile", root_path, data: {"turbolinks" => false} %>
          </div>
          <ul class="header-list">
            <li class="header-list-item">
              <%= link_to photographers_path do %></h5>
                <h5>ABOUT</h5>
                <p>サイトについて</p>
              <% end %>
            </li>
            <li class="header-list-item">
              <%= link_to photographers_path do %>
                <h5>PHOTOGRAPHER'S</h5>
                <p>フォトグラファー一覧</p>
              <% end %>
            </li>
            <li class="header-list-item">
              <%= link_to photos_path do %>
                <h5>GALLERY</h5>
                <p>写真一覧</p>
              <% end %>
            </li>
            <li class="header-list-item">
              <%= link_to new_user_session_path do %>
                <h5>LOGIN</h5>
                <p>ログイン</p>
              <% end %>
            </li>
          </ul>
          <div id="open-nav">
            <%= image_tag 'header_list.png', class: 'hamburger-icon' %>
          </div>
        </div>
      </nav>
    </header>
    <div id="flash-message">
      <%= render 'layouts/flash_message' %>
    </div>
    <main>
    <%= yield %>
    </main>
    <footer>
      <div class="footer-icon">
        <% if user_signed_in? %>
          <%= link_to mypage_path do %>
            <i class="fa fa-home footer-item"></i>
          <% end %>
          <%= link_to photographers_path do %>
            <i class="fa fa-users footer-item"></i>
          <% end %>
          <% if current_user.user_status == 'フォトグラファー' %>
            <%= link_to new_photo_path do %>
              <i class="fa fa-plus-square footer-item"></i>
            <% end %>
          <% end %>
          <%= link_to photos_path do %>
            <i class="fa fa-th-large footer-item"></i>
          <% end %>
        <% else %>
          <%= link_to photographers_path do %>
            <i class="fa fa-users footer-item"></i>
          <% end %>
          <%= link_to photos_path do %>
            <i class="fa fa-th-large footer-item"></i>
          <% end %>
          <%= link_to 'ゲストログイン(閲覧用)', guest_sign_in_path, method: :POST, class: 'btn btn-info btn-sm guest_login mb-2' %>
        <% end %>
      </div>
    </footer>
    <nav id="nav" class="show">
      <ul class="nav-list">
        <li class="mt-5"><%= render "searches/form" %></li>
        <!--------- ログイン時 ----------->
        <% if user_signed_in? %>
         <li class="nav-item"><%= link_to 'マイページ', mypage_path %></li><br>
         <li class="nav-item"><%= link_to "フォトグラファー一覧", photographers_path %></li><br>
         <li class="nav-item"><%= link_to '写真ギャラリー', photos_path %></li><br>
         <li class="nav-item"><%= link_to '写真ランキング', ranking_index_photos_path %></li><br>
         <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path,method: :DELETE %></li><br>
        <!----------ログアウト時 --------->
        <% else %>
         <li class="nav-item"><%= link_to "フォトグラファー一覧", photographers_path %></li><br>
         <li class="nav-item"><%= link_to '写真ギャラリー', photos_path %></li><br>
         <li class="nav-item"><%= link_to '写真ランキング', ranking_index_photos_path %></li><br>
         <li class="nav-item"><%= link_to '新規登録', new_user_registration_path %></li><br>
         <li class="nav-item"><%= link_to 'ログイン', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </body>
</html>
