<!DOCTYPE html>
<html>
  <head>
    <title>Photogenic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/d64cb48cf6.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand nabvar-light shadow-sm">
        <div class="container">
          <%= link_to "Photographer's Profile", root_path, class:'navbar-brand p-2' %>
          <ul class="navbar-nav ml-auto">
            <!--------- ログイン時 ----------->
            <% if user_signed_in? %>
             <li class="nav-item"><%= link_to 'マイページ', mypage_path, class:'nav-link' %></li>
             <li class="nav-item"><%= link_to 'フォトグラファー一覧', '#', class:'nav-link' %></li>
             <li class="nav-item"><%= link_to 'ギャラリー',  '#' , class:'nav-link' %></li>
             <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path,method: :DELETE, class:'nav-link' %></li>
            <!----------ログアウト時 --------->
            <% else %>
             <li class="nav-item"><%= link_to 'フォトグラファー一覧', '#', class:'nav-link' %></li>
             <li class="nav-item"><%= link_to 'ギャラリー', '#', class:'nav-link' %></li>
             <li class="nav-item"><%= link_to '新規登録', new_user_registration_path, class:'nav-link' %></li>
             <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class:'nav-link' %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer>

    </footer>
  </body>
</html>
